body{
    background-color: #2BB3C0;
}
span{
    position: relative;
    font-family: arial;
    font-weight: bold;
    font-size: 35px;
}
.title{
    position: absolute;
    left: 42vw;
    top: 12%;
    font-size: 3vw;;
    font-family: arial;
    z-index: 1;
    font-weight: bold;
}
.projecten{
    position: absolute;
}
#img1{
    position: absolute;
    top: 140px;
    left: 300px;
}
#img2{
    position: absolute;
    top: 550px;
    left: 300px;
}
#img3{
    position: absolute;
    top: 450px;
    left: 900px;
}
#img4{
    position: absolute;
    top: 140px;
    left: 900px;
}
#caption1, #caption2, #caption3, #caption4{
    background-color: #ED7D31;
    border: 5px solid black;
}
#caption1{
    left: 300px;
    top: 90px;
}
#caption2{
    left: 900px;
    top: 360px;
}
#caption3{
    left: 300px;
    top: 420px;
}
#caption4{
    top: -30px;
    left: 900px;
}